@media only screen and (min-width: 769px){

    header{
        grid-template-columns: 24px auto auto;
    }
    .hamburger{
        display: none;
    }

    header img{
        margin: 0;
    }

    header span{
        margin: 0;
        margin-left: 25px;
    }

    nav{
        display: block;
        margin-left: 25rem;
        margin-bottom: 2px;
    }

    nav ul{
        display: flex;
        margin: 0;
    }

    nav a{
        margin: 0 15px;
    }

    .current{
        border-left: none;
        border-bottom: 3px solid white;

    }

    h1{
        margin-left: 16px;
        text-align: left;
    }
    
    .centered{
        justify-content: left;
        margin-left: 24px;
        font-size: 1.3rem;  
    }

    .dialog-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5px;
    }

    dialog img{
        width: 100%;
        height: 420px;
    }
}