*{
    box-sizing: border-box;
}

span, h1, h2 {
    font-family: "Montserrat";
}

strong, p, a{
    font-family: "Nunito";
}

/*------ HEADER ------*/
header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 8px;
    padding: 2rem;
    align-items: end;
    background-image: linear-gradient(#0b0f1f, #1d4358);
    color: white;
    margin: 0;
    border-bottom: #0b0f1f 1px solid;
    margin-bottom: 0;
}

header img{
    display: block;
    width: 150%;
    height: auto;
    margin-bottom: 5px;
}

header span{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 4px;
}

/*------ HAMBURGER -------*/
.hamburger{
    display: block;
    cursor: pointer;
    font-family: "Nunito";
    background-color: rgba(11, 15, 31, 0);
    border: none;
    color: white;
    position: relative;
    z-index: 2000;
    margin-bottom: 3px;
    transition: transform 0.3s ease;
} 

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

.hamburger:hover{
    transform: scale(1.1);
    background-color: white;
    color:#0b0f1f;
    border-radius: 5px;
}

.hamburger.show:hover{
    color: #ba393a;
}
/*------ NAV ------*/

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 65px; 
}

@media only screen and (max-width: 768px){
    nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background-image: linear-gradient(#0b0f1f, #486d87);
        padding: 40px 20px;
        transform: translateX(100%);
        transition: opacity .35s ease, transform .5s cubic-bezier(0.22, 1, 0.36, 1);
        z-index: 1000;
    }

    nav.show {
        opacity: 1;
        transform: translateX(0); 
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.3); 
    }
    
}

nav a{
    display: block; 
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 15px;
}

.current{
    border-left: 3px solid white; 
}

li{
    border-radius: 3px;
}



li:hover{
    background-color: white;
    a{
        color: #0b0f1f;
    }
}

/*------ MAIN -------*/
main{
    margin-top: 0;
    
}
h1{
    text-align: center;
    padding: 20px;
}

.message-box {
    background-color: #486d87;
    margin: 10px;
    text-align: center;
    position: relative;
    padding: .6rem;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    right: 1%;
    top: 10%;
    background-color: #486d87;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
    font-family: "Nunito";
}

.close-btn:hover {
    background-color: white;
    color: #ba393a;
    transform: scale(1.2);
}
#apod-container{
    text-align: center;
}

.apod{
    width: 90%;
    height: 450px;
    border-radius: 5px;
    opacity: 0;
    filter: blur(12px);
}

.apod:not([src=""]) {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(12px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.info{
    margin: 20px;
    font-size: 1.1rem;
    padding: 5px;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeInText 1s ease forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*------ FOOTER ------*/
footer{
    background-image: linear-gradient(#1d4358, #0b0f1f);
    color: white;
    text-align: center;
    padding: 1.2rem;
}

.media img{
    width: 44px;
    height: 44px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.media img:hover{
    transform: scale(1.2);
}



