*{
    box-sizing: border-box;
}

span, h1, h2 {
    font-family: "Montserrat";
}

strong, p, a{
    font-family: "Nunito";
}

/*------ HEADER ------*/
header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 8px;
    padding: 2rem;
    align-items: end;
    background-image: linear-gradient(#0b0f1f, #1d4358);
    color: white;
    margin: 0;
    border-bottom: #0b0f1f 1px solid;
    margin-bottom: 0;
}

header img{
    display: block;
    width: 150%;
    height: auto;
    margin-bottom: 5px;
}

header span{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 4px;
}

/*------ HAMBURGER -------*/
.hamburger{
    display: block;
    cursor: pointer;
    font-family: "Nunito";
    background-color: rgba(11, 15, 31, 0);
    border: none;
    color: white;
    position: relative;
    z-index: 2000;
    margin-bottom: 3px;
    transition: transform 0.3s ease;
} 

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

.hamburger:hover{
    transform: scale(1.1);
    background-color: white;
    color:#0b0f1f;
    border-radius: 5px;
}

.hamburger.show:hover{
    color: #ba393a;
}
/*------ NAV ------*/

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 65px; 
}

@media only screen and (max-width: 768px){
    nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background-image: linear-gradient(#0b0f1f, #486d87);
        padding: 40px 20px;
        transform: translateX(100%);
        transition: opacity .35s ease, transform .5s cubic-bezier(0.22, 1, 0.36, 1);
        z-index: 1000;
    }

    nav.show {
        opacity: 1;
        transform: translateX(0); 
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.3); 
    }
    
}

nav a{
    display: block; 
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 15px;
}

.current{
    border-left: 3px solid white; 
}

li{
    border-radius: 3px;
}



li:hover{
    background-color: white;
    a{
        color: #0b0f1f;
    }
}

/*------ MAIN -------*/
main{
    margin-top: 0;
    
}
h1{
    text-align: center;
    padding: 20px 20px 0 20px;
}


.centered{
    display: flex;
    padding: 10px;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}

#search-input{
    
    border: #1d4358 2px solid;
    border-right: none;
    border-radius: 6px 0 0 6px;
    font-family: "Nunito";
    background-color: #cbd5e1;
    outline: none;
}

#search-btn{
    border: #1d4358 2px solid;
    border-left: none;
    border-radius: 0 6px 6px 0;
    background-color: rgba(72, 109, 135);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#search-btn:hover{
    background-color: white;
    color: #1d4358;
}

/*------ CARDS ------*/

#results-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 8px;
    justify-content: center;  
    align-content: center; 
    justify-items: center;     
    align-items: stretch; 
    margin: 15px;
}

.card {
    position: relative;
    width: 100%;
    height: 260px;       
    overflow: hidden;
    border-radius: 6px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;     
    display: block;
    
}

.card .buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .5s ease;
}

.card:hover .buttons {
    opacity: 1;
}

.buttons button{
    cursor: pointer;
    font-family: "Nunito";
    font-size: 1rem;
    background-color: #1d4358;
    color: white;
    border-radius: 8px;
    border: none;
    padding: .4rem;
}

.buttons button:hover {
    background-color: white;
    color: #1d4358;
}


/*------ DIALOG ------*/
dialog{
    width: 80%;
    background-color: #1d4358;
    color: white;
    border: none;
    border-radius: 8px;
}
.dialog-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#close-modal{
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #1d4358;
    font-size: 1.3rem;
    padding: 5px 8px;
    transition: 
        background-color 0.25s cubic-bezier(.4,0,.2,1),
        color 0.25s cubic-bezier(.4,0,.2,1);
} 

#close-modal:hover{
    background-color: white;
    color: #ba393a;
    
}

dialog img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 6px;
}

.info-container{
    margin: 15px;
}

dialog button{
    font-family: "Nunito";
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #0b0f1f;
    padding: 10px;
    transition: 
        background-color 0.25s cubic-bezier(.4,0,.2,1),
        color 0.25s cubic-bezier(.4,0,.2,1);
}

dialog button:hover{
    background-color: white;
    color: #0b0f1f;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}
/*------ FOOTER ------*/
footer{
    background-image: linear-gradient(#1d4358, #0b0f1f);
    color: white;
    text-align: center;
    padding: 1.2rem;
}

.media img{
    width: 44px;
    height: 44px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.media img:hover{
    transform: scale(1.2);
}



